@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*element selector*/
p{
    color:blue;
}
/*universal selector*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    font-size:16px;
    color:red;
}
/*class selector*/
.para{
    color:green;
    font-size:20px;
    font-weight:600;
    text-align:center;
}
/*id selector*/
#para2{
    /*color:blue;
    font-size:20px;
    font-weight:600;
    text-align:center;*/
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family:"Roboto";
    font-size:15px;
    font-weight:900;
    text-align:center;
    text-transform:lowercase;
    text-decoration:underline;
}
span{
    color:green;
    font-size:30px;
    font-weight:900;
    text-align:center;
    text-transform:capitalize;
    text-decoration:underline;

}
.head{
    font-size:900;
    font-style:italic;
    text-align:center;
    text-transform:capitalize;
    text-decoration:underline;
}
